<p id="notice"><%= notice %></p>

<p>
  <b>Skillprofile:</b>
  <%= @skill_reference.SkillProfile_id %>
</p>

<p>
  <b>Description:</b>
  <%= @skill_reference.Description %>
</p>

<p>
  <b>Additionalinfo:</b>
  <%= @skill_reference.AdditionalInfo %>
</p>


<%= link_to 'Edit', edit_skill_reference_path(@skill_reference) %> |
<%= link_to 'Back', skill_references_path %>
