<%= form_for(@service_request) do |f| %>
  <% if @service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% @service_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_field :Description %>
  </div>
  <div class="field">
    <%= f.label :Subscriber_id %><br />
    <%= f.text_field :Subscriber_id %>
  </div>
  <div class="field">
    <%= f.label :SkillCategory_id %><br />
    <%= f.text_field :SkillCategory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
